@import '../../../static/stylesheets/lib/mixin';
@import '../../../static/stylesheets/lib/variables';

.find {
    width: 200px;
    @include mobile {
        width: 100%;
    }
    .area {
        width: 100%;
        border: solid 1px #EBEBEB;
        transition: all .3s ease-in-out;
        @include mobile {
            border: solid 1px #DBDBDB;
            padding: 0 24px;
        }
        &:hover {
            border-color: transparent;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        }
        .container {
            display: table;
            position: relative;
            width: 100%;
            
            .title {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%; height: 200px;
                @include mobile {
                    border: none;
                    height: 120px;
                    text-align: left;
                    .image {
                        display: none;
                    }
                }
                .content {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    color: #222;
                    font-size: 1.667rem;
                }
                .text {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    top: 220px; left: 0;
                    color: #999;
                    font-size: 1.167rem;
                    line-height: 2;
                    word-break: keep-all;
                    @include mobile {
                        position: static;
                        text-align: inherit;
                    }
                }
            }
        }
    }
    & + & {
        margin-left: 20px;
        @include mobile {
            margin: 0;
            margin-top: 20px;
        }
    }
}