@import '../static/stylesheets/lib/variables';
@import '../static/stylesheets/lib/mixin';

.container {
    @include container;
    .tab {
        @include tab;
    }
    .content {
        padding-top: 80px;
        font-size: 1.333rem;
        line-height: 1.8;
        @include notebook {
            padding-top: 60px;
        }
        @include tablet {
            padding-top: 30px;
        }
        @include mobile {
            padding-top: 0;
            padding: 24px;
            height: 100%;
        }
    }
}
