@import '../../../static/stylesheets/lib/mixin';
@import '../../../static/stylesheets/lib/variables';

.item {
    .image {
        display: none;
        @include mobile {
            display: inline-block;
            vertical-align: middle;
            width: 104px;
            height: 104px;
        }
    }
    .info {
        @include mobile {
            display: inline-block;
            vertical-align: middle;
            margin-left: 18px;
            width: calc(100% - 122px);
        }
        .name {
            font-size: $desktop24px;
            font-weight: bold;
            color: $color-222;
            @include mobile {
                font-size: $desktop20px;
                color: #444;
            }
            .qty {
                font-weight: normal;
                white-space: nowrap;
                // @include mobile {
                //     display: none;
                // }
            }
        }
        .option {
            margin-top: 10px;
            font-size: $desktop16px;
            color: $color-777;
            line-height: 1.5;
            // @include mobile {
            //     color: $color-999;
            // }
            // .m-qty {
            //     display: none;
            //     @include mobile {
            //         display: inline;
            //         white-space: nowrap;
            //     }
            // }
        }
        .value {
            display: none;
            @include mobile {
                display: inline-block;
                font-size: $desktop20px;
                margin-top: 18px;
                color: #444;
                font-weight: bold;
            }
        }
    }
    & + & {
        margin-top: 40px;
        @include mobile {
            margin-top: 16px;
        }
    }
}
