@import '../../../static/stylesheets/lib/mixin';
@import '../../../static/stylesheets/lib/variables';


.content {
    position: relative;
    @include mobile {
        padding-top: 0;
    }
    .header {
        display: table;
        width: 100%; height: 56px;
        text-align: center;
        font-size: $desktop18px;
        font-weight: bold;
        color: #000;
        border-top: solid 2px $color-222;
        border-bottom: solid 1px $color-999;
        @include mobile {
            display: none;
        }
        & > div {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .list {
        position: relative;
        border-bottom: solid 1px $color-ebebeb;
        &.empty {
            min-height: 220px;
            height: 100%;
        }
        .item {
            cursor: pointer;
            @include mobile {
                border: solid 1px $color-ebebeb;
            }
            .view {
                position: relative;
                display: table;
                width: 100%; height: 120px;
                line-height: 1.8;
                @include mobile {
                    display: block;
                    padding: 32px 24px;
                    height: auto;
                }
                .total-qty {
                    display: none;
                    @include mobile {
                        display: block;
                        font-size: $desktop16px;
                        color: $color-555;
                        b {
                            color: $color-222;
                        }
                    }
                }
                & > div {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    word-break: keep-all;
                    &.order {
                        &-time {
                            color: $color-777;
                            font-size: $desktop14px;
                            @include mobile {
                                position: absolute;
                                top: 32px; right: 24px;
                                width: 80px;
                                color: $color-555;
                                text-align: right;
                                font-size: $desktop16px;
                            }
                        }
                        &-type {
                            color: $color-222;
                            font-size: $desktop18px;
                            font-weight: 500;
                            @include mobile {
                                display: block;
                                width: 100%; text-align: left;
                                font-size: $desktop22px;
                                font-weight: bold;
                                padding-right: 80px;
                                margin-bottom: 20px;
                                .m-item-type {
                                    display: none;
                                }
                            }
                        }
                        &-info {
                            color: $color-222;
                            font-size: $desktop18px;
                            font-weight: 500;
                            padding: 0 10px;
                            text-align: left;
                            @include mobile {
                                display: block;
                                width: 100%;
                                padding: 0;
                                font-size: $desktop16px;
                                color: $color-555;
                            }
                        }
                        &-payment {
                            color: $color-222;
                            font-size: $desktop18px;
                            font-weight: bold;
                            @include mobile {
                                display: block;
                                text-align: left;
                                width: 100%;
                            }
                        }
                        &-state {
                            @include mobile {
                                display: block;
                                width: 100%;
                                margin-top: 40px;
                                .status {
                                    display: inline-block;
                                    width: 40%;
                                    background-color: #fff;
                                    border-color: $mobile-main-color;
                                    color: $mobile-main-color;
                                    &.order_cancel {
                                        color: #A61332;
                                        border-color: #A61332;
                                    }
                                }
                            }
                            .m-type-box {
                                display: none;
                                @include mobile {
                                    display: inline-block;
                                    line-height: 40px;
                                    width: calc(30% - 12px);
                                    margin-right: 12px;
                                    font-size: $desktop18px;
                                    background-color: $color-777;
                                    color: #fff;
                                    &.disabled {
                                        background-color: #f0f0f0;
                                    }
                                }
                            }
                        }
                    }
                }
                .addr-info {
                    @include mobile {
                        &::before {
                            content: '배달 주소 : ';
                            display: inline;
                            font-weight: bold;
                            color: $color-222;
                        }
                    }
                }
                .deli-info {
                    font-size: $desktop16px;
                    font-weight: normal;
                    color: $color-777;
                    @include mobile {
                        color: $color-555;
                        &::before {
                            content: '배달 수단 : ';
                            display: inline;
                            font-weight: bold;
                            color: $color-222;
                        }
                    }
                }
                .pay-info {
                    @include mobile {
                        font-size: $desktop16px;
                        font-weight: normal;
                        color: $color-555;
                        &::before {
                            content: '결제 금액 : ';
                            display: inline;
                            font-weight: bold;
                            color: $color-222;
                        }
                        &::after {
                            content: ' (결제 완료)';
                            display: inline;
                        }
                    }
                }
                .pay-complete {
                    font-size: $desktop16px;
                    color: $desktop-main-color;
                    font-weight: normal;
                    @include mobile {
                        display: none;
                    }
                }
            }
            transition: all .3s ease-in-out;
            &:hover {
                background-color: $color-f9f9f9;
            }
        }
    }
}

.item {
    & + & {
        border-top: solid 1px $color-ebebeb;
        @include mobile {
            margin-top: 8px;
        }
    }
}

.order {
    &-time {
        width: 15%;
    }
    &-type {
        width: 18%;
    }
    &-info {
        width: 25%;
    }
    &-payment {
        width: 20%;
    }
    &-state {
        width: 12%;
    }
}

.status {
    display: inline-block;
    width: 88px; line-height: 38px;
    border: solid 1px $desktop-main-color;
    font-size: $desktop18px;
    font-weight: 500;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    &.order_apply {
        background-color: $desktop-main-color;
        color: #fff;
    }
    &.order_cancel {
        border-color: #A61332;
        color: #A61332;
    }
}