@import '../../../static/stylesheets/lib/mixin';
@import '../../../static/stylesheets/lib/variables';

.reject {
    width: 560px;
    position: relative;
    padding-bottom: 96px;
    .header {
        display: table;
        height: 80px;
        background-color: #333;
        width: 100%;
        .title {
            display: table-cell;
            vertical-align: middle;
            font-size: $desktop24px;
            padding: 0 40px;
            color: #fff;
            font-weight: bold;
        }
        .close {
            width: 40px; height: 40px;
            position: absolute;
            top: 18px; right: 30px;
        }
    }
    .content {
        padding: 40px;
        padding-bottom: 0;
        .c-title {
            font-size: $desktop18px;
            color: $color-222;
            font-weight: 500;
        }
        .c-input {
            border: solid 1px $color-dbdbdb;
            width: 100%;
            font-size: $desktop18px;
            margin-top: 10px;
        }
        select {
            height: 48px;
            padding: 0 20px;
        }
        textarea {
            height: 144px;
            padding: 20px;
            resize: none;
        }
    }
    .button {
        position: absolute;
        bottom: 0;
        width: 100%; height: 56px;
        background-color: $desktop-main-color;
        color: #fff;
        font-weight: 500;
        font-size: $desktop18px;
    }
}