@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';

.container {
    @include container;
    .date-icon{
        position: fixed; 
        top: 0; right: 12px; width: 40px; height: 40px;
        padding: 0;
    }
    .tab {
        @include tab;
    }

    .content {
        margin-top: 80px;
        @include mobile {
            margin-top: 0;
        }
    }
}