@import '../../static/stylesheets/Modal.scss';

.dialog {
    .title {
        position: relative;
        background-color: $mobile-main-color;
        h2 {
            font-size: $desktop24px;
            color: #fff;
        }
        .close {
            @include close-icon;
        }
    }
    .content {
        font-size: $desktop16px;
        line-height: 1.5;
        padding: 24px 0;
    }
    .button-area {
        padding: 0;
        .button {
            width: 100%; height: 64px;
            font-size: $desktop24px;
            color: #fff;
            background-color: $mobile-main-color;
            border-radius: 0;
        }
    }
}
