html {
    body {
        .date-picker {
            .content {
                width: 100%;
                border: 1px solid #ebebeb;
                border-radius: 10px;
                height: 56px;
                padding-left: 15px;
                font-size: 14px;

                background: url('../svg/date.svg') no-repeat 90% 50% #fff;
                background-size: 24px 24px;
            }
        }
    }
}
