@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/lib/variables';

.select {
    border: solid 1px $color-ebebeb;
    height: 48px;
    padding: 0 16px;
    color: $color-222;
    font-size: $desktop16px;
    transition: all .3s ease-in-out;
    &.disabled {
        color: $color-999;
    }
    & + & {
        margin-left: 10px;
    }
    @include mobile {
        height: 40px;
        padding :0;
        padding-left: 2%;
        padding-right: 5%;
        color: $color-555;
        & + & {
            margin-left: 16px;
        }
    }
    @media screen and (max-width: 450px) {
        & + & {
            margin-left: 5px;
        }
    }
}

