@import '../../../static/stylesheets/lib/mixin';
@import '../../../static/stylesheets/lib/variables';

.notice-list {
    list-style: none;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    padding: 0;
}

.list-element {
    background-color: #fff;

    .preview {
        width: 100%; height: 95px;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-break: keep-all;
        .text {
            width: 100%;
            position: relative;
            text-align: left;
            padding-right: 24px;

            .message {
                color: #222;
                font-size: $desktop16px;
            }
            .at {
                color: #999;
                font-size: $desktop14px;
            }
            .delete {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
    &.checked {
        background-color: transparent;
    }
    & + & {
        border-top: 1px solid #ebebeb;
    }
}
