@import '../../static/stylesheets/lib/variables';

.password-auth {
    text-align: left;
    .alert {
        font-size: 1.167rem;
        margin-top: 10px;
        overflow: hidden;
        color: #a61332;
        height: 0;

        transition: height 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        &.open {
            height: 20px;
        }
        &.same {
            color: $mobile-main-color;
        }
    }
}
